
{% if errori is defined %}
 <div class="admin_errori_wrapper">
 {% for errore in errori %}
 {{errore}}
 {% endfor %}
 </div>
{% endif %}

{% if form is defined %} 
<form action="#" method="post"> 
 {{ form_widget(form) }}
 <input type="submit" name="submit" />
</form>
{% endif %}
</div>
